In [1]:
from statsbombpy import sb
import pandas as pd
from mplsoccer import Pitch, Sbopen
import matplotlib.pyplot as plt

In [3]:
comps = sb.competitions()
comps[comps["competition_name"]=="Champions League"]

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
2,16,4,Europe,Champions League,male,False,False,2018/2019,2023-03-07T12:20:48.118250,2021-06-13T16:17:31.694,None,2023-03-07T12:20:48.118250
3,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
4,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
5,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
6,16,26,Europe,Champions League,male,False,False,2014/2015,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
7,16,25,Europe,Champions League,male,False,False,2013/2014,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
8,16,24,Europe,Champions League,male,False,False,2012/2013,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-07-10T13:41:45.751
9,16,23,Europe,Champions League,male,False,False,2011/2012,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
10,16,22,Europe,Champions League,male,False,False,2010/2011,2022-01-26T21:07:11.033473,2021-06-13T16:17:31.694,None,2022-01-26T21:07:11.033473
11,16,21,Europe,Champions League,male,False,False,2009/2010,2022-11-15T17:26:10.871011,2021-06-13T16:17:31.694,None,2022-11-15T17:26:10.871011
12,16,41,Europe,Champions League,male,False,False,2008/2009,2021-11-07T14:20:01.699993,2021-06-13T16:17:31.694,None,2021-11-07T14:20:01.699993
13,16,39,Europe,Champions League,male,False,False,2006/2007,2021-03-31T04:18:30.437060,2021-06-13T16:17:31.694,None,2021-03-31T04:18:30.437060
14,16,37,Europe,Champions League,male,False,False,2004/2005,2021-04-01T06:18:57.459032,2021-06-13T16:17:31.694,None,2021-04-01T06:18:57.459032
15,16,44,Europe,Champions League,male,False,False,2003/2004,2022-11-24T21:06:10.454916,2021-06-13T16:17:31.694,None,2022-11-24T21:06:10.454916
16,16,76,Europe,Champions League,male,False,False,1999/2000,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
17,16,277,Europe,Champions League,male,False,False,1972/1973,2023-07-06T12:49:07.467625,None,None,2023-07-06T12:49:07.467625
18,16,71,Europe,Champions League,male,False,False,1971/1972,2020-07-29T05:00,2021-06-13T16:17:31.694,None,2020-07-29T05:00
19,16,276,Europe,Champions League,male,False,False,1970/1971,2023-11-18T14:44:32.134540,None,None,2023-11-18T14:44:32.134540

In [4]:
sb.matches(competition_id=16,season_id=4)

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,...,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
0,22912,2019-06-01,21:00:00.000,Europe - Champions League,2018/2019,Tottenham Hotspur,Liverpool,0,2,available,...,2021-06-13T16:17:31.694,13,Final,\tEstádio Cívitas Metropolitano,Damir Skomina,Mauricio Roberto Pochettino Trossero,Jürgen Klopp,1.1.0,2,2

In [5]:
events = sb.events(match_id=22912)

In [15]:
parser = Sbopen()

In [16]:
df, related, freeze, tactics = parser.event(22912)

In [18]:
df.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'possession',
       'duration', 'match_id', 'type_id', 'type_name', 'possession_team_id',
       'possession_team_name', 'play_pattern_id', 'play_pattern_name',
       'team_id', 'team_name', 'tactics_formation', 'player_id', 'player_name',
       'position_id', 'position_name', 'pass_recipient_id',
       'pass_recipient_name', 'pass_length', 'pass_angle', 'pass_height_id',
       'pass_height_name', 'end_x', 'end_y', 'body_part_id', 'body_part_name',
       'sub_type_id', 'sub_type_name', 'x', 'y', 'pass_switch', 'outcome_id',
       'outcome_name', 'under_pressure', 'aerial_won', 'technique_id',
       'technique_name', 'foul_committed_penalty', 'shot_statsbomb_xg',
       'end_z', 'goalkeeper_position_id', 'goalkeeper_position_name',
       'off_camera', 'foul_committed_advantage', 'foul_won_advantage',
       'ball_recovery_recovery_failure', 'counterpress', 'out',
       'dribble_overrun', 'pass_cross', 'pass_assisted_shot_id',
       'pass_shot_assist', 'shot_key_pass_id', 'foul_won_defensive',
       'shot_first_time', 'pass_cut_back', 'substitution_replacement_id',
       'substitution_replacement_name', 'pass_deflected', 'block_deflection',
       'foul_committed_offensive', 'dribble_nutmeg', 'block_offensive',
       'pass_goal_assist'],
      dtype='object')

In [19]:
df = df[df['team_name']=="Liverpool"]

In [24]:
df['type_name'].unique()

array(['Starting XI', 'Half Start', 'Pass', 'Ball Receipt', 'Carry',
       'Shot', 'Clearance', 'Pressure', 'Duel', 'Foul Committed',
       'Miscontrol', 'Ball Recovery', 'Dribbled Past', 'Interception',
       '50/50', 'Goal Keeper', 'Dispossessed', 'Shield',
       'Injury Stoppage', 'Referee Ball-Drop', 'Block', 'Foul Won',
       'Dribble', 'Half End', 'Substitution', 'Tactical Shift'],
      dtype=object)

In [25]:
passes = df[df['type_name']=='Pass']

In [27]:
passes.columns

Index(['id', 'index', 'period', 'timestamp', 'minute', 'second', 'possession',
       'duration', 'match_id', 'type_id', 'type_name', 'possession_team_id',
       'possession_team_name', 'play_pattern_id', 'play_pattern_name',
       'team_id', 'team_name', 'tactics_formation', 'player_id', 'player_name',
       'position_id', 'position_name', 'pass_recipient_id',
       'pass_recipient_name', 'pass_length', 'pass_angle', 'pass_height_id',
       'pass_height_name', 'end_x', 'end_y', 'body_part_id', 'body_part_name',
       'sub_type_id', 'sub_type_name', 'x', 'y', 'pass_switch', 'outcome_id',
       'outcome_name', 'under_pressure', 'aerial_won', 'technique_id',
       'technique_name', 'foul_committed_penalty', 'shot_statsbomb_xg',
       'end_z', 'goalkeeper_position_id', 'goalkeeper_position_name',
       'off_camera', 'foul_committed_advantage', 'foul_won_advantage',
       'ball_recovery_recovery_failure', 'counterpress', 'out',
       'dribble_overrun', 'pass_cross', 'pass_assisted_shot_id',
       'pass_shot_assist', 'shot_key_pass_id', 'foul_won_defensive',
       'shot_first_time', 'pass_cut_back', 'substitution_replacement_id',
       'substitution_replacement_name', 'pass_deflected', 'block_deflection',
       'foul_committed_offensive', 'dribble_nutmeg', 'block_offensive',
       'pass_goal_assist'],
      dtype='object')

In [28]:
passes = passes[['player_id','player_name','x','y','end_x', 'end_y','pass_recipient_name','outcome_id','outcome_name']]

In [29]:
passes

,player_id,player_name,x,y,end_x,end_y,pass_recipient_name,outcome_id,outcome_name
4,3532.0,Jordan Brian Henderson,61.0,40.1,34.0,43.8,Joël Andre Job Matip,NaN,NaN
7,3502.0,Joël Andre Job Matip,36.1,44.0,86.6,3.5,Sadio Mané,9.0,Incomplete
11,3247.0,Fábio Henrique Tavares,65.6,14.2,82.8,17.1,Roberto Firmino Barbosa de Oliveira,9.0,Incomplete
16,3532.0,Jordan Brian Henderson,75.2,19.4,86.4,20.3,Sadio Mané,9.0,Incomplete
20,3669.0,Virgil van Dijk,59.5,19.6,65.4,19.2,Georginio Wijnaldum,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3144,4747.0,Divock Okoth Origi,63.8,54.7,96.4,72.6,Mohamed Salah,NaN,NaN
3147,3531.0,Mohamed Salah,97.6,61.3,93.5,56.7,Divock Okoth Origi,NaN,NaN
3150,4747.0,Divock Okoth Origi,93.5,56.7,119.8,55.5,Mohamed Salah,75.0,Out
3157,3502.0,Joël Andre Job Matip,39.7,51.9,56.4,59.3,Trent Alexander-Arnold,NaN,NaN
3160,3664.0,Trent Alexander-Arnold,56.4,59.3,96.9,79.8,NaN,75.0,Out

In [30]:
passes['outcome_name'].unique()

array([nan, 'Incomplete', 'Unknown', 'Out', 'Pass Offside',
       'Injury Clearance'], dtype=object)

In [32]:
successful=passes[passes['outcome_name'].isnull()]

In [33]:
successful

,player_id,player_name,x,y,end_x,end_y,pass_recipient_name,outcome_id,outcome_name
4,3532.0,Jordan Brian Henderson,61.0,40.1,34.0,43.8,Joël Andre Job Matip,NaN,NaN
20,3669.0,Virgil van Dijk,59.5,19.6,65.4,19.2,Georginio Wijnaldum,NaN,NaN
24,3567.0,Georginio Wijnaldum,64.7,18.4,64.9,23.8,Jordan Brian Henderson,NaN,NaN
27,3532.0,Jordan Brian Henderson,64.3,24.3,99.2,24.5,Sadio Mané,NaN,NaN
65,3655.0,Andrew Robertson,43.7,0.1,53.6,8.5,Sadio Mané,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3008,3664.0,Trent Alexander-Arnold,54.4,55.0,58.6,34.7,Divock Okoth Origi,NaN,NaN
3141,3247.0,Fábio Henrique Tavares,40.9,53.5,55.2,57.4,Divock Okoth Origi,NaN,NaN
3144,4747.0,Divock Okoth Origi,63.8,54.7,96.4,72.6,Mohamed Salah,NaN,NaN
3147,3531.0,Mohamed Salah,97.6,61.3,93.5,56.7,Divock Okoth Origi,NaN,NaN
3157,3502.0,Joël Andre Job Matip,39.7,51.9,56.4,59.3,Trent Alexander-Arnold,NaN,NaN